Language: Cpp
BasedOnStyle: Google

# parameters not in same line as function declarations
BinPackParameters: false
BinPackArguments: false

# indentation
IndentWidth: 4

# function declaration style
AllowShortFunctionsOnASingleLine: All
AlignAfterOpenBracket: Align

# line breaking
ColumnLimit: 100

# spacing
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false

# braces
BreakBeforeBraces: Attach
NamespaceIndentation: All

# keep a trailing newline
InsertNewlineAtEOF: true
